/*
    created by:fengxiaojuan
    for:组件样式
*/
@media screen and (min-width: 768px){
    .modal-dialog {
        width: 800px;
    }
}
.modal-module{
    .modal{
        .modal-dialog {
           margin-top:10%;
           .modal-content{
               overflow:hidden;
               border-radius: 10px;
               .modal-header{
                   background-color: #3c8dbc;
                   color: #FFFFFF;
               }
               .modal-body{                   
                  .control-label{
                  }
                  .form-control{
                      margin:0 0 10px 0;
                      border-radius: 5px;
                  }
                  .patternLibriay{
                      height:500px;
                   overflow:auto;
                      ul{                         
                          li{
                              list-style:none;
                              display:inline-block;
                              float:left;
                              padding:5px;
                              img{
                                  cursor:pointer;
                                  width:70px;
                                  height:50px;
                              }
                          }
                      }
                      
                  }
              }
              .modal-footer{}
          }
       }
   }  
}
