
@{
    ViewBag.Title = "map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        地图
        <small>map</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Map analysing </li>
    </ol>
</section>
<!-- Content (Page content) -->
<section class="content">
    <div mapContent>
        <!--百度地图容器-->
        <div id="container"></div>
    </div>
</section>
    






