@{
    ViewBag.Title = "岩石钻孔成图";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        岩石钻孔
        <small>Rock drilling</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Rock drilling</li>
    </ol>
</section>
<!-- Content (Page content) -->
<section class="content">
    <!-- 菜单及分页容器-->
    <div class="stepCont" style="overflow: hidden;">
        <!-- 菜单导航显示-->
        <div class='ystep-container ystep-lg ystep-blue'></div>
        <!-- 分页容器-->
        <div class="pageCont">
            <div id="page1" class="">
                <!-- 基本  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">基本信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body"> 
                        <form id="drillBasicForm" class="form-horizontal" role="form" method="post" action="~/Home/">
                            <div  class="col-lg-8 col-lg-offset-2">
                                <fieldset>
                                    <legend>项目信息</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">工程名称</label>
                                        <div class="col-lg-8">
                                            <select class="form-control select2" name="projectName" style="width: 100%;">
                                                <option selected="selected">马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">项目名称</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" name="programtName" placeholder="必填项">
                                        </div>
                                    </div>
                                    <hr />                                   
                                </fieldset>
                                <fieldset>
                                    <legend>钻孔信息</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">钻孔编号</label>
                                        <div class="col-lg-6">
                                            <select class="form-control select2" name="drillCode" style="width: 100%;">
                                                <option selected="selected">CK1</option>
                                                <option>CK2</option>
                                                <option>CK3</option>
                                                <option>CK4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">孔口标高</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="drillHoleHeight" placeholder="必填项"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">钻孔位置</label>
                                        <div class="col-lg-2">
                                            <select class="form-control select2" name="drillLocation" style="width: 100%;">
                                                <option selected="selected">Z</option>
                                                <option>k</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-control" name="location1" style="width: 100%;">
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-control" name="location2" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">钻孔坐标 X</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="coordinateX" style="width: 100%;" placeholder="必填项">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">钻孔坐标 Y</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="coordinateY" style="width: 100%;"  placeholder="必填项">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">原位测试</label>
                                        <div class="col-lg-6">
                                            <select class="form-control select2" name="situTest" style="width: 100%;">
                                                <option selected="selected">动力触探</option>
                                                <option>静力触探</option>
                                                <option>标准贯入·试验</option>
                                                <option>十字板剪切试验</option>
                                                <option>旁压试验</option>
                                                <option>静力载荷试验</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">仪器型号</label>
                                        <div class="col-lg-6">
                                            <select class="form-control select2" name="instrumentType" style="width: 100%;">
                                                <option selected="selected">220型</option>
                                                <option>360型旋挖钻</option>
                                                <option>5T冲击钻</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">开始日期</label>
                                        <div class="input-group col-lg-6">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker1" name="startDate" placeholder="必选项">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">结束日期</label>
                                        <div class="input-group col-lg-6">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker2" name="endDate" placeholder="必选项">
                                        </div>
                                    </div>
                                    <div class="form-group">                                       
                                        <label class="col-lg-2 control-label">水位深度</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="waterDepth" type="text" placeholder="请输入..." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">建基面高程</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="infrastructureElevation" type="text" placeholder="请输入..." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">推荐承载力</label>
                                        <div class="col-lg-6">
                                            <select class="form-control select2" name="recommandBearing" style="width: 100%;">
                                                <option selected="selected">test</option>
                                                <option>该项需要计算</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">单轴抗压强</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" name="uniaxialPressure" type="text" placeholder="请输入..." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">模型</label>
                                        <div class="col-lg-6">
                                            <select class="form-control select2" name="model" style="width: 100%;">
                                                <option selected="selected">Model1</option>
                                                <option>Model2</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class='step-button'>
                                    <button type='button' class='btn btn-default prevBtn' id='prevBtn'>上一步</button>
                                    <button type='submit' class='btn btn-default nextBtn' id='nextBtn'>下一步</button>
                                </div>
                            </div>                            
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
            </div>
            <div id="page2" class="stepPage">
                <!-- 地质  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">地质</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form id="drillStrataForm" class="form-horizontal" role="form"  action="~/Home/SetDrillStrataInfo" method="post">
                                <fieldset>
                                    <legend>添加地层</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">地层年代</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="strataAge" name="strataAge" style="width: 100%;" placeholder="请选择..." data-toggle="modal" data-target="#modal-dicengdaihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">开始深度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="strataDepth"  type="text" placeholder="必填项" />
                                        </div>
                                        <label class="col-sm-2 control-label">结束深度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="endDepth" type="text" placeholder="必填项" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">厚度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="thinckness" type="text" placeholder="必填项" />
                                        </div>
                                        <label class="col-sm-2 control-label">层底标高</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="bottonElevation" type="text" placeholder="必填项" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">地层描述</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="strataDescribe" style="width: 100%;" placeholder="请输入..." data-toggle="modal" data-target="#modal-dicengmiaoshu">
                                        </div>
                                        <label class="col-sm-2 control-label">图例号</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="legendName" id="legendName" style="width: 100%;" data-toggle="modal" data-target="#modal-tulihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">图例说明</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" name="legendExplation" style="width: 100%;">
                                                <option selected="selected">该项需要图示...</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label">接触关系</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" name="contactRelation" style="width: 100%;">
                                                <option selected="selected">渐变关系</option>
                                                <option>侵入关系</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >岩芯采取</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="coreTake" type="text" placeholder="请输入..." />
                                        </div>
                                        <label class="col-sm-2 control-label">含水量</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" name="waterInclude" type="text" placeholder="请输入..." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">备注</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="remarks" type="text" placeholder="请输入..." />
                                        </div>
                                    </div>
                                </fieldset>
                                <button type='submit' class='btn btn-primary pull-right' id='addDrillStrata'>添加</button>                               
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">地层预览</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table id="drillStrataTable" class="table table-hover">
                            <tr class="success">
                                <th width="">序号</th>
                                <th>地层代号</th>
                                <th>开始深度</th>
                                <th>结束深度</th>
                                <th>厚度</th>
                                <th>层底标高</th>
                                <th>地层描述</th>
                                <th>图例号</th>
                                <th>图例说明</th>
                                <th>接触关系</th>
                                <th>岩芯采取</th>
                                <th>含水量</th>
                                <th>备注</th>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class='step-button' style="margin-top: 50px;">
                    <button type='button' class='btn btn-default prevBtn' id='prevBtn'>上一步</button>
                    <button type='submit' class='submitStrataAllInfo btn btn-default nextBtn' id='nextBtn'>下一步</button>
                </div>
            </div>
            <div id="page3" class="stepPage">
                <!-- 类型  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">类型</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form id="drillStrataForm" class="form-horizontal" role="form">
                                <fieldset>
                                    <legend>柱状图成图类型</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">钻孔类型</label>
                                        <div class="col-sm-6">
                                            <select class="form-control select2" name="legendExplation" style="width: 100%;">
                                                <option selected="selected">岩石钻孔.</option>
                                                <option>声波钻孔</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class='step-button'>
                                    <button type='button' class='btn btn-default prevBtn' id='prevBtn'>上一步</button>
                                    <button type='submit' class='btn btn-default nextBtn' id='nextBtn'>下一步</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
            </div>
            <div id="page4" class="stepPage">
                <!-- 比例  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">比例</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form id="drillStrataForm" class="form-horizontal" role="form">
                                <fieldset>
                                    <legend>柱状图比例尺</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">比例尺</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="drillScale" name="drillScale" style="width: 100%;" placeholder="必填项">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class='step-button'>
                                    <button type='button' class='btn btn-default prevBtn' id='prevBtn'>上一步</button>
                                    <button type='submit' class='btn btn-default nextBtn' id='nextBtn'>下一步</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" id="">成图</button>
                    </div>
                </div>
            </div>
            <div id="page5" class="stepPage">
                <!-- 预览  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">预览</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-10 col-lg-offset-1">
                            
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class='step-button' style="margin-top: 50px;">
                            <button type='button' class='btn btn-default prevBtn' id='prevBtn'>上一步</button>
                            <button type='button' class='btn btn-default nextBtn' id='nextBtn'>下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--弹出层组件-->
<div class="modal-module">
    <!--地层年代-->
    <div class="modal fade" id="modal-dicengdaihao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">地层年代</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal ageForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">界代：</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="jiedai" style="width: 100%;"></select>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="col-sm-2 control-label">系纪：</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="xiji" style="width: 100%;"></select>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="col-sm-2 control-label">统世:</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="tongshi" style="width: 100%;"></select>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="col-sm-2 control-label">阶期</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="jieqi" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"class="mclose btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" id="strataAgeOK">确认</button>
                        </div>
                    </form>
                </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!--地层描述 -->
    <div class="modal fade" id="modal-dicengmiaoshu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">地层描述</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-10 col-lg-offset-1">
                        <form id="strataDescribeForm" class="form-horizontal strataDescribeForm" role="form" action="~/Home/GetStrataDescribeInfo" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">岩石名称：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="rockName" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">风化程度：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="decencyLevel" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">节理情况:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="backCondition" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">岩芯状态</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="coreCondition" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">颗粒成分</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="pelletConstituent" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">薄厚程度</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="thicknessConditon" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">颜色</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="collor" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">惨杂物</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="adulterant" type="text" placeholder="请输入..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-right:0">夹层岩石名称</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="interbeddedRockName" type="text" placeholder="请输入..." />
                                </div>
                           </div>
                            <div class="modal-footer">
                                <button type="button" class="mclose btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary" id="strataDescribeOK">确认</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        
                    </div>                   
                </div>               
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--花纹库 -->
    <div class="modal fade" id="modal-tulihao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">图例号</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="~/Home/GetLegend"  method="post">
                        <div class="form-group  pattern-search">
                            <label class="col-sm-2 control-label">花纹</label>
                            <div class="col-sm-10">
                                <select class="form-control select2"  id="searchPattern" name="rockName" style="width: 100%;"></select>
                            </div>
                        </div>                      
                        <div class="patternLibriay">
                            <ul id="patternLibriary">

                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="mclose btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" id="legendOK" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script type="text/javascript" src="~/Scripts/basejs/setStep.js"></script>

<script>
    var step = new SetStep({
        content: '.stepCont'
    })
</script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#datepicker1').datepicker({
      autoclose: true
    })
    $('#datepicker2').datepicker({
        autoclose: true
    })

  })
</script>


