@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        岩石钻孔
        <small>Rock drilling</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Rock drilling</li>
    </ol>
</section>
<!-- Content (Page content) -->
<section class="content">
    <!-- 菜单及分页容器-->
    <div class="stepCont" style="overflow: hidden;">
        <!-- 菜单导航显示-->
        <div class='ystep-container ystep-lg ystep-blue'></div>
        <!-- 分页容器-->
        <div class="pageCont">
            <div id="page1" class="stepPage">
                <!-- 基本  -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 id="mari-1" class="box-title">基本信息</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">工程名称</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                                <option>马家湾隧道</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_name">项目名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Enter ...">
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">钻孔编号</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_password">孔口标高</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_password" type="password" placeholder="123456" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">钻孔位置</label>
                                        <div class="col-sm-3">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-dicengmiaoshu">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-tulihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">钻孔坐标 X</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-tulihao">
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_password">Y</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-tulihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">原位测试</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_password">仪器型号</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">施钻日期</label>
                                        <div class="input-group col-sm-4">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="reservation">
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_name">水位深度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_name">建基面高程</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                                        </div>
                                        <label class="col-sm-1 control-label" for="ds_username">推荐承载力</label>
                                        <div class="col-sm-2">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label" for="ds_name">单轴抗压强</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                                        </div>
                                        <label class="col-sm-1 control-label" for="ds_password">模型</label>
                                        <div class="col-sm-1">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
            </div>
            <div id="page2" class="stepPage">
                <!-- 地质  -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 id="mari-2" class="box-title">地质</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <fieldset>
                                    <legend>添加地层</legend>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">地层代号</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-dicengdaihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">开始深度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_name">结束深度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">厚度</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_username" type="text" placeholder="root" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_password">层底标高</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_password" type="password" placeholder="123456" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">地层描述</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-dicengmiaoshu">
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_name">图例号</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" style="width: 100%;" data-toggle="modal" data-target="#modal-tulihao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_username">图例说明</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_password">接触关系</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">侏罗纪</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                                <option>CK1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_host">岩芯采取</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="ds_name">含水量</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label" for="ds_password">备注</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="ds_password" type="password" placeholder="123456" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>地层预览</legend>
                                    <div class="form-group">
                                        <label for="disabledSelect" class="col-sm-2 control-label">表名</label>
                                        <div class="col-sm-12">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">Responsive Hover Table</h3>

                                                    <div class="box-tools">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                                            <div class="input-group-btn">
                                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body table-responsive no-padding">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>序号</th>
                                                            <th>地层代号</th>
                                                            <th>开始深度</th>
                                                            <th>结束深度</th>
                                                            <th>厚度</th>
                                                            <th>层底标高</th>
                                                            <th>地层描述</th>
                                                            <th>图例号</th>
                                                            <th>图例说明</th>
                                                            <th>接触关系</th>
                                                            <th>岩芯采取</th>
                                                            <th>含水量</th>
                                                            <th>备注</th>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                </div>
            </div>
            <div id="page3" class="stepPage">
                <h1>
                    page3
                </h1>
            </div>
            <div id="page4" class="stepPage">
                <h1>
                    page4
                </h1>
            </div>
            <div id="page5" class="stepPage">
                <h1>
                    page5
                </h1>
            </div>
        </div>
    </div>
</section>

<!--弹出层组件-->
<div class="modal-module">
    <!--地层年代-->
    <div class="modal fade" id="modal-dicengdaihao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">地层代号</h4>
                </div>
                <div class="modal-body">
                    <label class="col-sm-2 control-label" for="ds_name">界代：</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">新生界(代)</option>
                            <option>中生界(代)</option>
                            <option>古生界(代)</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">系纪：</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" style="width: 100%;">
                            
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" for="ds_host">统世:</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" style="width: 100%;">
                            
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">阶期</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" style="width: 100%;">
                            
                        </select>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-dicengmiaoshu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">地层描述</h4>
                </div>
                <div class="modal-body">
                    <label class="col-sm-2 control-label" for="ds_name">岩石名称：</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">风化程度：</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_host">节理情况:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">岩芯状态</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_host">颗粒成分</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">薄厚程度</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_host">颜色</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_name">惨杂物</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_name" type="text" placeholder="msh" />
                    </div>
                    <label class="col-sm-2 control-label" for="ds_host" style="padding-right:12px">夹层岩石名称</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-tulihao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">图例号</h4>
                </div>
                <div class="modal-body">
                    <div class="pattern-search">
                        <label class="col-sm-2 control-label" for="ds_username">花纹</label>
                        <div class="col-sm-8">
                            <select id="searchPattern" class="form-control select2" style="width: 100%;">
                                @*<option selected="selected">砾岩</option>
                             
                                <option>CK1</option>
                                <option>CK1</option>*@
                            </select>
                        </div>                    
                    </div>
                    <div class="patternLibriay">
                        <ul id="patternLibriary"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script type="text/javascript" src="~/Scripts/basejs/setStep.js"></script>
<script>
    var step = new SetStep({
        content: '.stepCont'
    })
</script>
<script>
    $('#patternLibriary').append();
</script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>


